In [5]:
from bs4 import BeautifulSoup
import requests   # library to handle requests
from lxml import html      # parse the website in lxml format
import numpy as np
import pandas as pd

# Loading data

In [6]:
df = pd.read_csv('clean_data.csv')
df.head()

  Postalcode           Borough                    Neighbourhood
0        M3A        North York                        Parkwoods
1        M4A        North York                 Victoria Village
2        M5A  Downtown Toronto                     Harbourfront
3        M6A        North York  Lawrence Heights,Lawrence Manor
4        M7A  Downtown Toronto                     Queen's Park

# Create dataframe with longitude and latitude values

In [10]:
# using a csv file that has the geographical coordinates
!wget -q -O 'Toronto_location.csv'  http://cocl.us/Geospatial_data
df_tor = pd.read_csv('Toronto_location.csv')
df_tor.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [13]:
df_tor.columns = ['Postalcode','Latitude','Longitude']
df_tor.head()

  Postalcode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [14]:
df_toronto = pd.merge(df, df_tor, on = 'Postalcode')
df_toronto.head()

,Postalcode,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,Harbourfront,43.654260,-79.360636
3,M6A,North York,"Lawrence Heights,Lawrence Manor",43.718518,-79.464763
4,M7A,Downtown Toronto,Queen's Park,43.662301,-79.389494

# SAVING THE NEW DATAFRAME

In [15]:
df_toronto.to_csv('new_data.csv',index=False)